[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Markdown = "*"
Jinja2 = "*"
Pygments = "*"
click = "*"
livereload = "*"
libsass = "*"
PyYAML = "*"
"calmjs.parse" = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
