[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
jinja2 = "*"
pygments = "*"
click = "*"
livereload = "*"
libsass = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.e1839a8]
path = "."
editable = true
