@import 'system-font';
@import 'code-font';
@import 'colours';
@import 'macros';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: $light;
    margin: 0 auto;
    font: 1em/1.6 system-ui;
    width: 100%;
}

nav {
    position: fixed;
}

code {
    font-family: "monospace", monospace;
	font-size: 85%;
}
