@font-face {
    font-family: 'LM Sans 10';
    src: url('/fonts/LMSans10-Regular.woff2'),
         url('/fonts/LMSans10-Regular.woff')
}

@font-face {
    font-family: 'LM Sans 8';
    src: url('/fonts/LMSans8-Regular.woff2'),
         url('/fonts/LMSans8-Regular.woff')
}

body {
    background-color: white;
    width: 35em;
    margin: 0 auto;
    font-family: 'LM Sans 8', Tahoma, Verdana, Arial, sans-serif;
}
