<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/syntax.css">

        <script src="/scripts/main.js"></script>
    </head>

    <body>
        <header>
            <nav id="navbar">
                <a href="/"><img src="#" alt="Home"></a>
                <a href="/cv"><img src="#" alt="Curriculum Vitae"></a>
                <a href="https://github.com/rikushoney"><img src="" alt="GitHub"></a>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
        </footer>
    </body>
</html>
